.body
{
  background-color:  #000;
}


.jumbotron {
  background-color: #000;
  /*text-align: center;*/
  background-repeat: no-repeat;
    background-position: top;
    /*background-size: cover;*/
}

.jumbotron h1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.jumbotron p, .jumbotron small {
  color: #929292;
}

@media (min-width: 576px)
{
  .jumbotron
    {
      padding: 6rem 2rem;
      height: 900px;
      text-align: center;
      background-image: url('../images/2.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

  .ade-btn-buy 
    {
      padding-top: 200px;
    }
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding-right: 1em;
  padding-left: 1em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: monospace, serif;
}

.navbar-brand
{
 font-family: monospace, serif;
 text-transform: uppercase;
 color: #fff;
}
