html, body 
{

    margin: 0;
    padding: 0;
    background-color: #111;
    /*background-image: url('images/3.jpg');*/
    border: none;
    border-style: ridge;
    
}

/* Split the screen in half */
.split {
  /*height: 100%;
  width: 50%;*/
  width: 50%;
  height: 715px;
  /*position: fixed;
  z-index: 1;
  /*top: 20%; */      /*use this  to see the differenece.*/
  overflow-x: hidden; 
}

/* Control the left side */
.left {
  position: fixed;
  left: 0;
  margin-left: : 0px;
  border-color: white;
  border-style: ridge;
  background-color:  #7DA2A9;
}

/* Control the right side */
.right {
  position: fixed;
  right: 0;
 /* top:20%;*/
  background-color: #E12B38;
 /* padding: 3px;*/
  border-color: white;
  border-style: ridge;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1,h2,h6,h5
{
    color: white;
}

.1
{
    color: #DEC79B;
}

.button {
  background-color:  #d9d9d9;
  border: inset;
  color: black;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
}
.button:hover
{
    background-color: grey;
    border-radius: 10px;
}


.Sign
{
  text-align: center;
}


.SignUpbutton:hover
{
    background-color: grey;
    border-radius: 10px;
}


.hello{
    background-color: grey;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}